*{
    margin: 0;
    padding: 0;
}
/* body{
background-color: rgb(100, 97, 182);
} */
/* First part: */
header{
    max-width: 1440px;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
    margin: 0 auto;

}
nav h3{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
    width: 132px;
    background-color: #4E47FF;
    height: 48px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.header-title{
    border: 1px solid red;
    margin-top: 309px;
    margin-left: 267px;
    margin-right: 267px;
   
}
.header-description{
    font-weight: bold;
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
}
.header-button{
    margin-top: 37px;
   width: 174px;
   height: 48px;
   background-color: #4E47FF;
   color: #FFFFFF;
   font-weight: bold;
   font-size: 16px;
   margin-left: 366px;
}
/* second-part: */
.section-1{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 116px;
    border: 1px solid red;
}
.section-title{
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);

}
.section-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin-top: 23px;
    /* height: 60px;
    width: 517px; */

}
.section-button{
    width: 230px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-top: 23px;
}
.section-father{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.section-head{
    width: 517px;
}
.section-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* third-part: */
.section-2{
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    margin-top: 116px;
    border-radius: 24px;
    
}
.sub-father{
    border: 1px solid rgb(3, 146, 36);
    display: flex;
    gap: 155px;
    /* margin-top: 40px; */
    text-align: center;
    padding: 50px 142px;
    /* justify-content: center; */
}
/* .child{
    width: 180px;
    height: 121px;
} */
.sub-title{
    width: 162px;
    height: 97px;
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}
.sub-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.join-head{
    color: rgba(37, 36, 50, 1);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    
    
    
   
}
.join-father{
    border: 1px solid tomato;
   padding-top: 50px;
  /* width: 856px; */
 /* margin-left: 142px; */
margin-left: auto;
margin-right: auto;


}
/* fourth-part: */
.section-3{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 137px;
}
.boss{
    width: 366px;
    height: 243px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    padding-left: 24px;
    border: 1px solid rgba(154, 16, 16, 0.5);

}
.star{
    
    padding-top: 24px;
}
.boss-title{
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    margin-top: 24px;
}
.boss-description{
    font-size: 16px;
    margin-top: 8px;
}
.avater1{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.avater-image{
    border-radius: 200px;
    
}
.avater-title{
    color: rgba(117, 117, 117, 1);
    font-weight: 600px;
    font-size: 16px;
}
.description{
    color: rgba(179, 179, 179, 1);
    font-size: 16;
}
.title3-description{
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    
}
.card-boss{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
/* Fifth-part */
.section-4{
    max-width: 1140px;
    height: 696px;
    border-radius: 14px;
   color: rgba(255, 255, 255, 1);
}
.ready-title{
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}
.ready-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-top: 20px;
}
.ready-button{
    margin-top: 20px;
   background-color:#4E47FF;
    border-radius: 10px;
    width: 195px;
    height: 48px;
    font-size: 16;
    font-weight: 400px;
    color: #FFFFFF;
    border-style: none;

}